lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/css/main.css

# API keys and secrets
.env

# Dependency directory
node_modules
package-lock.json
bower_components

# Editors
.idea
.idea/
.idea/*
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
*/dist/**/*
/dist/**/*
dist/**/*
/dist/
dist/

#Ignore env file
src/config/config.ts
